# Data Engineering for Surf's Up Advanced SQL Homework

#### This notebook is solely for cleaning the raw data provided in the two .csv files for this homework. I will be checking for duplicates, NaN values, and overall 'cleanliness' of the data. Once I'm satisfied with the output, I will save the cleaned data as new .csv files with the prefix "`clean_`"

In [1]:
# Import dependencies
import pandas as pd

### Cleaning Measurements Data

In [2]:
measurements = pd.read_csv("hawaii_measurements.csv")
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
stations = pd.read_csv("hawaii_stations.csv")
stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
# Checking the shape of the dataframe
measurements.shape

(19550, 4)

In [5]:
# Checking for duplicates in the measurements DataFrame
measurements.duplicated().sum()

0

In [6]:
# Checking for null values
measurements.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [7]:
# Removing the null values
measurements = measurements.dropna()

In [8]:
# Rechecking the shape of the database
measurements.shape

(18103, 4)

In [10]:
measurements.notnull()

       station  date  prcp  tobs
0         True  True  True  True
1         True  True  True  True
2         True  True  True  True
3         True  True  True  True
5         True  True  True  True
6         True  True  True  True
7         True  True  True  True
8         True  True  True  True
9         True  True  True  True
10        True  True  True  True
11        True  True  True  True
12        True  True  True  True
13        True  True  True  True
14        True  True  True  True
15        True  True  True  True
16        True  True  True  True
17        True  True  True  True
18        True  True  True  True
19        True  True  True  True
20        True  True  True  True
21        True  True  True  True
22        True  True  True  True
23        True  True  True  True
24        True  True  True  True
25        True  True  True  True
27        True  True  True  True
28        True  True  True  True
30        True  True  True  True
31        True  True  True  True
32        True  True  True  True
...        ...   ...   ...   ...
19513     True  True  True  True
19514     True  True  True  True
19515     True  True  True  True
19516     True  True  True  True
19517     True  True  True  True
19518     True  True  True  True
19519     True  True  True  True
19520     True  True  True  True
19521     True  True  True  True
19522     True  True  True  True
19523     True  True  True  True
19524     True  True  True  True
19525     True  True  True  True
19526     True  True  True  True
19527     True  True  True  True
19529     True  True  True  True
19530     True  True  True  True
19533     True  True  True  True
19534     True  True  True  True
19535     True  True  True  True
19536     True  True  True  True
19538     True  True  True  True
19540     True  True  True  True
19541     True  True  True  True
19542     True  True  True  True
19543     True  True  True  True
19545     True  True  True  True
19547     True  True  True  True
19548     True  True  True  True
19549     True  True  True  True

[18103 rows x 4 columns]